@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body {
    background-color: #2B448C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-default {
    background-color: #2B448C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow: 2px 2px 10px rgba(83, 83, 83, 0.877);
    transition: background-color 0.3s ease-in-out;;
}

.btn-default:hover {
    background-color: #030A8C;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}



#form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px  10px 15px -3px rgba(0, 0, 0, 0.5);
}

#form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-title {
    font-weight: 500;
    color: #03258C;
    position: relative;
}

#form-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: #F2EFC2;
    left: 0;
    bottom: 0;
}

#form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    height: 100%;
}

#input-container {
    display: grid;
    gap: 24px;
}

.form-label {
    font-size: 12px;
    color: #404044;
    font-weight: 500;

}

.input-field {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    gap: 8px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

select {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    color: gray;
}

select:focus {
    outline: none;
}

select:focus-within {
    outline: 2px solid #e0e0b8;
}

.input-field i {
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color:#2B448C;
}

.form-control {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.form-control:focus {
    outline: none;
}

.input-box .input-field:focus-within {
    outline: 2px solid #ebebbf;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    color: #000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    
    filter: invert(50%);
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#btn-submit {
    margin-top: 25px;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    #form-container {
        width: 100%;
        min-height: 100vh;
        padding: 32px;
    }

    #input-container.two-columns {
        display: flex;
        flex-direction: column;
        gap: 38px
    }

    
}