<section class="grid-item contato" id="contato">
      <h2>Fale Conosco</h2>
      <p>Quer ser voluntário, fazer uma doação ou conhecer melhor nossos projetos? Estamos aqui para conversar.</p>

      <ul class="info-contato">
        <li><strong>E-mail:</strong> contato@ongesperanca.org.br</li>
        <li><strong>Telefone:</strong> (11) 99999-9999</li>
        <li><strong>Whatsapp:</strong> (11) 98888-8888</li>
        <li><strong>Endereço:</strong> Rua Da Esperança, 999 - São Paulo/SP</li>
      </ul>

      <form class="form-contato">
        <label for="name">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="mensagem">Mensagem: </label>
        <textarea name="mensagem" id="mensagem" rows="4" required></textarea>

        <button type="submit">Enviar</button>
      </form>
    </section>