<section class="grid-item destaque" id="inicio">
  <h2>Alguns resultados da ONG Esperança</h2>
  <ul>
    <li><p>+ 10.000 cestas básicas doadas.</p></li>
    <li><p>+ 8.000 famílias atendidas.</p></li>
    <li><p>+ 30 comunidades impactadas.</p></li>
    <li><p>+ 200 voluntários cadastrados</p></li>
    <li><p>+ 80 pontos de coleta ativos.</p></li>
    <li><p>+ 500 atendimentos nutricionais realizados.</p></li>
  </ul>
</section>

<section class="grid-item noticias" id="noticias">
      <h2>📰 Notícias</h2>
      <div class="noticia-1">
        <h3>Brasil retira 26,5 milhões de pessoas da fome em dois anos</h3>
        <p>O ministro Wellington Dias anunciou que o país conseguiu retirar 26,5 milhões de brasileiros da fome, segundo dados do governo federal.
          Essa conquista recolocou o Brasil fora do Mapa da Fome da ONU. A meta agora é garantir que quem entra no Bolsa Família nunca mais volte à insegurança alimentar.</p>
        
          <div class="links-noticias"><a href="https://www.brasil247.com/entrevistas/brasil-retira-26-5-milhoes-de-pessoas-da-fome-em-dois-anos-diz-wellington-dias" target="_blank">Leia a matéria completa</a></div>
      </div>
      <hr>
      <div class="noticia-2">
        <h3> 🌍 Brasil apresenta avanços sociais em cúpula internacional no Catar</h3>
        <p>Durante a Cúpula Mundial para o Desenvolvimento Social, o Brasil apresentou seus avanços em políticas de combate à fome e à pobreza. A comitiva do Ministério do 
          Desenvolvimento destacou ações como segurança alimentar, inclusão socioeconômica e renda de cidadania</p>

          <div class="links-noticias"><a href="https://www.brasil247.com/brasil-sustentavel/brasil-apresenta-avancos-sociais-e-combate-a-fome-em-cupula-no-catar" target="_blank">Veja mais detalhes da participação brasileira</a></div>
      </div>
      <div class="links-noticias">
        <hr>
      </div>
      <div class="noticia3">
        <h3>📉 Brasil atinge menor patamar de insegurança alimentar da história</h3>
        <p>Segundo dados do IBGE e da Escala Brasileira de Insegurança Alimentar, o Brasil registrou em 2024 o menor número de pessoas em situação de fome desde 2013. 
          Mais de 8,8 milhões foram incluídas na segurança alimentar, e 2 milhões saíram da fome no último ano</p>

          <div class="links-noticias"><a href="https://www.gov.br/mds/pt-br/noticias-e-conteudos/desenvolvimento-social/noticias-desenvolvimento-social/brasil-atinge-menor-patamar-de-inseguranca-alimentar-da-historia" target="_blank">Confira os dados oficiais</a></div>
      </div>
    </section>